{% if elementType|default(null) %}
    {% set sectionId = api.elementGroup[elementType].section %}
    {% set entryTypeId = api.elementGroup[elementType].entryType %}

    {% if sectionId and entryTypeId %}
        {% if craft.app.version|version_compare('5.0', '>=') %}   
            {% set section = craft.app.entries.getSectionById(sectionId) %}
            {% set entryType = craft.app.entries.getEntryTypeById(entryTypeId) %}
        {% else %}
            {% set section = craft.app.sections.getSectionById(sectionId) %}
            {% set entryType = craft.app.sections.getEntryTypeById(entryTypeId) %}
        {% endif %}  

        {% if section and entryType %}
            <span class="element-group">{{ section.name }}</span>
            <span class="element-group-sub">{{ entryType.name }}</span>
        {% endif %}
    {% endif %}
{% else %}
    {% if parentElementType|default(null) %}
        {% set sectionId = api.parentElementGroup[parentElementType].section %}

        {% if sectionId %}
            {% if craft.app.version|version_compare('5.0', '>=') %}
                {% set section = craft.app.entries.getSectionById(sectionId) %}
            {% else %}
                {% set section = craft.app.sections.getSectionById(sectionId) %}
            {% endif %}     

            {% if section %}
                <span class="element-group">{{ section.name }}</span>
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}
