{% import '_includes/forms' as forms %}
{% import 'easyapi/_macros' as easyApiMacro %}

{% if api.elementGroup %}
    {% set sourceId = api.elementGroup[api.elementType] %}

    {% set source = craft.app.volumes.getVolumeById(sourceId) %}
    {% set folders = craft.easyApi.getAssetFolderBySourceId(sourceId) %}
{% endif %}

{% set fields = [{
    name: 'Title',
    handle: 'title',
    default: {
        type: 'text',
    },
}] %}

{% if 'add' in api.duplicateHandle %}
    {% set fields = fields|merge([{
        type: 'assets-create',
        name: 'URL or Path',
        handle: 'urlOrPath',
        instructions: 'Enter either the path (including filename) or URL to the image for this asset to be created from.'|t('easyapi'),
        required: true,
        default: {
            type: 'text',
        }
    }]) %}
{% endif %}

{% set fields = fields|merge([{
    name: 'Filename',
    handle: 'filename',
    instructions: 'The filename for this asset. If not provided, this will be derived from the path or URL.'|t('easyapi'),
}, {
    name: 'Folder',
    handle: 'folderId',
    type: 'assets-folder',
    instructions: 'Select the folder name this asset will be uploaded into.'|t('easyapi'),
    default: {
        type: 'select',
        options: folders,
    },
}, {
    name: 'Asset ID',
    handle: 'id',
    instructions: '<strong class="error">Warning: </strong>This should only be used for an existing Craft Asset ID.'|t('easyapi'),
    default: {
        type: 'text',
    },
}]) %}

<h2>{{ 'Asset Fields'|t('easyapi') }}</h2>

<table class="easyapi-mapping data fullwidth collapsible">
    <thead>
        <th>{{ 'Field'|t('easyapi') }}</th>
        <th>{{ 'Api Element'|t('easyapi') }}</th>
        <th>{{ 'Default Value'|t('easyapi') }}</th>
    </thead>
    <tbody>
        {% for field in fields %}
            {% set template = field.type ?? 'default' %}
            {% set variables = field|merge({ api: api, apiData: apiData, attribute: true }) %}

            {% include 'easyapi/_includes/fields/' ~ template ignore missing with variables only %}
        {% endfor %}
    </tbody>
</table>

{% set tabs = [] %}

{% if source.fieldLayoutId %}
    {% set tabs = craft.app.fields.getLayoutById(source.fieldLayoutId).getTabs() %}

    {% for tab in tabs %}
        <hr>

        <h2>{{ tab.name }} Fields</h2>

        <table class="easyapi-mapping data fullwidth collapsible">
            <thead>
                <th>{{ 'Field'|t('easyapi') }}</th>
                <th>{{ 'Api Element'|t('easyapi') }}</th>
                <th>{{ 'Default Value'|t('easyapi') }}</th>
            </thead>
            <tbody>
                {% for layoutField in tab.getElements()|filter(e => e is instance of('craft\\fieldlayoutelements\\CustomField')) %}
                    {% set field = layoutField.getField() %}
                    {% set fieldClass = craft.easyApi.fields.getRegisteredField(className(field)) %}
                    {% set template = fieldClass.getMappingTemplate() %}

                    {% set variables = { name: field.name, handle: field.handle, api: api, apiData: apiData, field: field, fieldClass: fieldClass } %}

                    {% include template ignore missing with variables only %}
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endif %}

<hr>

<h2 id="asset-uniques-label">{{ "Set a unique identifier to match against existing elements"|t('easyapi') }}</h2>
<p>{{ "Select the fields you want to use to check for existing elements. When selected, Easy API will look for existing elements that match the fields provided below and either update, or skip depending on your choice of Import Strategy."|t('easyapi') }}</p>

{% for tab in tabs %}
    {% for layoutField in tab.getElements()|filter(e => e is instance of('craft\\fieldlayoutelements\\CustomField')) %}
        {% set field = layoutField.getField() %}
        {% set fields = fields|merge([{ name: field.name, handle: field.handle, type: className(field) }]) %}
    {% endfor %}
{% endfor %}

<fieldset class="easyapi-uniques" aria-labelledby="asset-uniques-label">
    {% for field in fields %}
        {% if field and craft.easyApi.fieldCanBeUniqueId(field) %}
            {% if field.handle != 'urlOrPath' %}
                {{ forms.checkboxField({
                    name: 'fieldUnique[' ~ field.handle ~ ']',
                    label: field.name,
                    checked: api.fieldUnique[field.handle] ?? '',
                }) }}
            {% endif %}
        {% endif %}
    {% endfor %}
</fieldset>
