{% import '_includes/forms' as forms %}

{% set categories = element.groups %}

{% if elementType|default(null) %}
    {{ forms.selectField({
        label: "Digital Product Group"|t('easyapi'),
        instructions: 'Choose the digital product type you want to save your api data into.'|t('easyapi'),
        id: 'elementGroup-' ~ elementType,
        name: 'elementGroup[' ~ elementType ~ ']',
        options: craft.easyApi.getSelectOptions(categories),
        value: api.elementGroup[elementType] ?? '',
        errors: api.getErrors('elementGroup'),
        required: true,
    }) }}
{% else %}
    {{ forms.selectField({
        label: "Digital Product Group"|t('easyapi'),
        instructions: 'Choose the digital product type you want to save your api data into.'|t('easyapi'),
        id: 'parentElementGroup-' ~ parentElementType,
        name: 'parentElementGroup[' ~ parentElementType ~ ']',
        options: craft.easyApi.getSelectOptions(categories),
        value: api.parentElementGroup[parentElementType] ?? '',
        errors: api.getErrors('parentElementGroup'),
    }) }}
{% endif %}
