{% import '_includes/forms' as forms %}

{% extends 'easyapi/_layouts' %}

{% set crumbs = [
    { label: craft.easyApi.getPluginName|t('easyapi'), url: url('easyapi') },
    { label: api.name|t('easyapi'), url: url('easyapi/apis/' ~ api.id) },
    { label: 'Element'|t('easyapi'), url: url('easyapi/apis/element/' ~ api.id) },
] %}

{% set title = api.name %}

{% set title = (api.id) ? api.name : 'Create a new api'|t('easyapi') %}
{% set noTabs = true %}
{% set fullPageForm = true %}

{% set buttons %}
    {% if primaryElements.success %}
        <div class="buttons">
            <input type="button" data-action="easyapi/apis/save-and-element-api" class="btn submit" value="{{ 'Save'|t('easyapi') }}">
            <input type="button" data-action="easyapi/apis/save-and-map-api" class="btn submit" value="{{ 'Save & Continue'|t('easyapi') }}">
        </div>
    {% endif %}
{% endset %}

{% block actionButton %}
    {{ buttons }}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
    {% if primaryElements.success %}
        <input type="hidden" name="action" value="easyapi/apis/save-and-element-api">

        {% if api.id %}
            <input type="hidden" name="apiId" value="{{ api.id }}">
        {% endif %}

        {{ forms.selectField({
            label: "Primary Element"|t('easyapi'),
            instructions: "The primary element is the repeatable element that contains the data you want to import."|t('easyapi'),
            id: 'primaryElement',
            name: 'primaryElement',
            value: api.primaryElement,
            options: primaryElements.data,
            errors: api.getErrors('primaryElement'),
        }) }}

        {% set parsedApiData = [
            { label: "No Pagination URL"|t('easyapi'), value: '' },
        ] %}

        {% for key, data in apiMappingData.data %}
            {% if data is iterable %}
                {% set snippet = '' %}
            {% else %}
                {% set snippet = data|length > 30 ? data[0:30] ~ '...' : data %}
            {% endif %}

            {% set parsedApiData = parsedApiData|merge([{ label: '<' ~ key ~ '> eg: ' ~ snippet, value: key }]) %}
        {% endfor %}

        {{ forms.selectField({
            label: "Pagination URL"|t('easyapi'),
            instructions: 'If your api is paginated, select the next page’s URL.'|t('easyapi'),
            id: 'paginationNode',
            name: 'paginationNode',
            value: api.paginationNode,
            options: parsedApiData,
            errors: api.getErrors('paginationNode'),
        }) }}

    {% else %}
        <div class="easyapi-fullpage fullpage-error">
            <img src="{{ baseAssetsUrl ~ '/img/icon-error.svg' }}">

            <h2>{{ 'Unable to proceed to next step'|t('easyapi') }}</h2>
            <p>{{ 'Easy API is unable to find, or parse your provided data. This usually means your URL cannot be reached from your Craft site, or your {contentType} is invalid. Refer to the specific error below, check the logs, and double-check your settings.'|t('easyapi', { contentType: api.contentType|upper }) }}</p>

            {% if primaryElements.error %}
                <div class="fullpage-error-message">
                    <code>{{ primaryElements.error }}</code>
                </div>
            {% endif %}

            <div class="buttons">
                <a href="{{ url('easyapi/apis/' ~ api.id) }}" class="btn submit">&larr; {{ 'Back to api'|t('easyapi') }}</a>
                <a href="{{ url('easyapi/logs') }}" class="btn submit">{{ 'Go to logs'|t('easyapi') }}</a>
            </div>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block footerButton %}
    {{ buttons }}
{% endblock %}
