{% extends 'easyapi/_layouts' %}

{% set crumbs = [
    { label: craft.easyApi.getPluginName|t('easyapi'), url: url('easyapi') },
    { label: api.name|t('easyapi'), url: url('easyapi/apis/' ~ api.id) },
    { label: 'Element'|t('easyapi'), url: url('easyapi/apis/element/' ~ api.id) },
    { label: 'Map'|t('easyapi'), url: url('easyapi/apis/map/' ~ api.id) },
] %}

{% set title = api.name %}

{% set title = (api.id) ? api.name : 'Create a new api'|t('easyapi') %}
{% set noTabs = true %}
{% set fullPageForm = true %}

{% set buttons %}
    {% if apiMappingData.success %}
        <div class="buttons">
            <input type="button" data-action="easyapi/apis/save-and-map-api" class="btn submit" value="{{ 'Save'|t('easyapi') }}">
            <input type="button" data-action="easyapi/apis/save-and-review-api" class="btn submit" value="{{ 'Save & Continue'|t('easyapi') }}">
        </div>
    {% endif %}
{% endset %}

{% block actionButton %}
    {{ buttons }}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
    {% if apiMappingData.success %}
        <input type="hidden" name="action" value="easyapi/apis/save-and-map-api">

        {% if api.id %}
            <input type="hidden" name="apiId" value="{{ api.id }}">
        {% endif %}

        {% set parsedApiData = [] %}

        {% for key, data in apiMappingData.data %}
            {% if data is iterable %}
                {% set snippet = '' %}
            {% else %}
                {% set snippet = data|length > 30 ? data[0:30] ~ '...' : data %}
            {% endif %}

            {% set parsedApiData = parsedApiData|merge([{ label: '<' ~ key ~ '> eg: ' ~ snippet, value: key }]) %}
        {% endfor %}

        {% set parsedApiData = parsedApiData|sort((a, b) => b.label < a.label) %}

        {% set parsedApiData = [
            { label: 'Don’t import'|t('easyapi'), value: 'noimport' },
            { label: 'Use default value', value: 'usedefault' }
        ]|merge(parsedApiData) %}

        {% include api.getElement().getMappingTemplate() with { apiData: parsedApiData } %}

    {% else %}
        <div class="easyapi-fullpage fullpage-error">
            <img src="{{ baseAssetsUrl ~ '/img/icon-error.svg' }}">

            <h2>{{ 'Unable to proceed to field mapping'|t('easyapi') }}</h2>
            <p>{{ 'Easy API is unable to find, or parse your provided data. This usually means your URL cannot be reached from your Craft site, or your {contentType} is invalid. Check the logs, and double-check your settings.'|t('easyapi', { contentType: api.contentType|upper }) }}</p>

            <div class="buttons">
                <a href="{{ url('easyapi/apis/' ~ api.id) }}" class="btn submit">&larr; {{ 'Back to api'|t('easyapi') }}</a>
                <a href="{{ url('easyapi/logs') }}" class="btn submit">{{ 'Go to logs'|t('easyapi') }}</a>
            </div>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block footerButton %}
    {{ buttons }}
{% endblock %}
