$black: #333333;
$white: #ffffff;
$primary: #618985;
$secondary: #96bbbb;
$secondary-light: lighten($secondary, 20%);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// Import partials.
@import
  "bootstrap/bootstrap"
;

.alert {
  margin-top: 15px;
}