{# ------------------------ #}
{# Available Variables #}
{# ------------------------ #}
{# Attributes: #}
{# type, name, handle, instructions, attribute, default, api, apiData #}
{# ------------------------ #}
{# Fields: #}
{# name, handle, instructions, api, apiData, field, fieldClass #}
{# ------------------------ #}

{% import 'easyapi/_macros' as easyApiMacro %}
{% import '_includes/forms' as forms %}

{% if field is defined %}
    {% set default = default ?? {
        type: 'elementselect',
        options: {
            elementType: fieldClass.elementType,
            selectionLabel: "Default Event"|t('easyapi'),
            sources: field.sources ?? '*',
        },
    } %}
{% endif %}

{% extends 'easyapi/_includes/fields/_base' %}

{% block extraSettings %}
    <div class="element-match">
        <span>{{ 'Data provided for this calendar event is:'|t('easyapi') }}</span>

        {{ forms.selectField({
            name: 'options[match]',
            class: '',
            value: hash_get(api.fieldMapping, optionsPath ~ '.match') ?: '',
            options: [
                { value: 'title', label: 'Title'|t('easyapi') },
                { value: 'elements.id', label: 'ID'|t('easyapi') },
                { value: 'slug', label: 'Slug'|t('easyapi') },
            ],
        }) }}
    </div>
{% endblock %}
