{# ------------------------ #}
{# Available Variables #}
{# ------------------------ #}
{# Attributes: #}
{# type, name, handle, instructions, attribute, default, api, apiData #}
{# ------------------------ #}
{# Fields: #}
{# name, handle, instructions, api, apiData, field, fieldClass #}
{# ------------------------ #}

{% import 'easyapi/_macros' as easyApiMacro %}
{% import '_includes/forms' as forms %}

{% extends 'easyapi/_includes/fields/_base' %}

{% block extraSettings %}
    <div class="element-match">
        <span>{{ 'Data provided for this element is:'|t('easyapi') }}</span>

        {% set matchAttributes = [
            { value: 'title', label: 'Title'|t('easyapi') },
            { value: 'elements.id', label: 'ID'|t('easyapi') },
            { value: 'slug', label: 'Slug'|t('easyapi') },
        ] %}

        {% for field in craft.app.fields.getAllFields() %}
            {% if craft.easyApi.fieldCanBeUniqueId(field) %}
                {% set matchAttributes = matchAttributes|merge({ ('field_' ~ field.handle): field.name }) %}
            {% endif %}
        {% endfor %}

        {{ forms.selectField({
            name: 'options[match]',
            class: '',
            value: hash_get(api.fieldMapping, optionsPath ~ '.match') ?: '',
            options: matchAttributes,
        }) }}
    </div>
{% endblock %}
