{# ------------------------ #}
{# Available Variables #}
{# ------------------------ #}
{# Attributes: #}
{# type, name, handle, instructions, attribute, default, api, apiData #}
{# ------------------------ #}
{# Fields: #}
{# name, handle, instructions, api, apiData, field, fieldClass #}
{# ------------------------ #}

{% import 'easyapi/_macros' as easyApiMacro %}
{% import '_includes/forms' as forms %}

{% set default = default ?? {
    type: 'lightswitch',
} %}

{% extends 'easyapi/_includes/fields/_base' %}

