{# ------------------------ #}
{# Available Variables #}
{# ------------------------ #}
{# Attributes: #}
{# type, name, handle, instructions, attribute, default, api, apiData #}
{# ------------------------ #}
{# Fields: #}
{# name, handle, instructions, api, apiData, field, fieldClass #}
{# ------------------------ #}

{% import 'easyapi/_macros' as easyApiMacro %}
{% import '_includes/forms' as forms %}

{% if field is defined %}
    {% set default = default ?? {
        type: 'select',
        options: craft.easyApi.getSelectOptions(field.settings.options, 'label', 'value'),
    } %}
{% endif %}

{% extends 'easyapi/_includes/fields/_base' %}

{% block extraSettings %}
    <div class="element-match">
        <span>{{ 'Data provided for this field is:'|t('easyapi') }}</span>

        {{ forms.selectField({
            name: 'options[match]',
            class: '',
            options: [
                { value: 'value', label: 'Value'|t('easyapi') },
                { value: 'label', label: 'Label'|t('easyapi') }
            ],
            value: hash_get(api.fieldMapping, optionsPath ~ '.match') ?: '',
        }) }}
    </div>
{% endblock %}
